
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <h1>Artists</h1>
  <swiper [pagination]="true" [config]="slideOps" *ngIf="artists.length">
    <ng-template swiperSlide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist,null)">
        <img [src]="artist.images[0].url" alt=""/>
        <span>{{artist.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>

  <h1>Albums</h1>
  <swiper [pagination]="true" [config]="slideOps" *ngIf="albums.length">
    <ng-template swiperSlide *ngFor="let album of albums">
      <ion-avatar class="square-avatar" (click)="showSongs(null,album)">
        <img [src]="album.images[0].url" alt=""/>
        <span>{{album.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>

  <h1>Songs</h1>
  <swiper [pagination]="true" [config]="slideOps" *ngIf="songs.length">
    <ng-template swiperSlide *ngFor="let song of songs">
      <ion-avatar class="square-avatar">
        <img [src]="song.images[0].url" alt=""/>
        <span> {{song.name}} </span>
      </ion-avatar>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <!-- <ion-text color="danger" *ngIf="!song.name">
    <h2>Here should appear our song</h2>
  </ion-text>
  <ion-text color="secondary" *ngIf="song">
    <h2> {{song.name}} </h2>
  </ion-text> -->

  <ion-grid>
    <ion-row *ngIf="currentSong">
      <ion-col class="ion-text-start"> {{parseTime(currentSong.currentTime) || "00:00"}} </ion-col>
      <ion-col class="ion-text-end"> {{parseTime(currentSong.duration) || "00:00"}} </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>{{ song.name || "You didn't select a song yet" }}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" (click)="play()" *ngIf="!song.playing"></ion-icon>
        <ion-icon name="pause" (click)="pause()" *ngIf="song.playing"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>